.searchBar{
  .buttonCol{
    position: relative;
    .buttonArea{
      position: absolute;
      bottom: 0;
    }
  }
}

.chartStyle{
  border: 0;
  padding: 3%;
  height: 500px;
  width: 400px;
}

.textStyle{
  text-align: center;
  padding-right: 45%;
  padding-top: 1%;
  border: 0;
}
.navbar-collapse{
  .showSelectedGroup{
      position: absolute;
      left: 50%;
      font-size: 2rem;
      font-weight: 500;
  }
}
